<h3>Admin</h3>
<nav>
	<ul class="nav nav-tabs">
		<li [routerLinkActiveOptions]="{ exact: true }"
			routerLinkActive="active">
			<a routerLink="./" queryParamsHandling="preserve" [preserveFragment]="true">Admin Info</a>
		</li>
		<li routerLinkActive="active">
			<a routerLink="./manage-products" queryParamsHandling="preserve" [preserveFragment]="true" (click)="work()">Manage Products</a>
		</li>
		<li routerLinkActive="active">
			<a routerLink="./product/add" queryParamsHandling="preserve" [preserveFragment]="true">Add Product</a>
		</li>
	</ul>
</nav>
<router-outlet></router-outlet>