.cart {
    display: flex;
    justify-content: space-between;
    min-width: 350px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
    margin: 20px;

    .products-values {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    h1 {
      padding: 5px 20px 5px 5px;
    }

    > div {
      flex-grow: 1.5;
    }
}

li {
  cursor: pointer;
  background-color: antiquewhite;
}

.cart-empty {
  padding: 25px;
  font-size: 2rem;
}

.sort-container {
  color: #504f4f;
  width: 100px;
  height: 50px;
  margin-left: 25px;
}

.checkbox {
  margin: 0 10px;
}
